<div class="container-fluid mt-3">
    <form [formGroup]="applyForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-2">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" 
          formControlName="email" [ngClass]="{ 'is-invalid': f['email'].invalid && (f['email'].dirty || f['email'].touched)}" email>
          <div class="invalid-feedback" *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched)">
            <div *ngIf="f['email'].errors?.['required']">Email is required</div>
            <div *ngIf="f['email'].errors?.['email']">Email is invalid</div>
            <!-- <div *ngIf="f['email'].errors?.['minlength']">Email must be at least 6 characters long.</div> -->
        </div>
    </div>
        <div class="form-group mb-2">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" 
          formControlName="pass" [ngClass]="{ 'is-invalid': f['pass'].invalid && (f['pass'].dirty || f['pass'].touched)}">
            <div class="invalid-feedback" *ngIf="f['pass'].invalid">
              <div *ngIf="f['pass'].errors?.['required']">Password is required</div>
              <!-- <div *ngIf="f['pass'].errors?.['minlength']">Password must be at least 6 characters long.</div> -->
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
