<!-- <p>list {{listId}}</p> -->
@if(listId == -1){
    <table class="table">
        <thead>
            <tr>
                <th *ngFor="let p of Object.keys(list[0])">{{p}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of list">
                <td *ngFor="let pr of Object.keys(list[0])">{{e[pr]}}</td>
    
            </tr>
        </tbody>
    </table>
    <!-- <app-h4 *ngFor="let element of listH4" [h4]="element"></app-h4> -->
} @else{
    <!-- <app-h4 [h4]="list[listId]"></app-h4> -->
    <div class="card-body" *ngFor="let pr of Object.keys(list[listId])">
        <p class="card-text">{{ list[listId][pr] }}</p>
    </div>
}
